* {
  margin: auto;
  background-color: white !important;
}

.row {
  /* border: 1px solid red; */
}

.col {
  /* border: 1px solid blue; */
  text-align: center;
}

.vertical-center {
  /* min-height: 100%; */
  min-height: 95vh;
  display: flex;
  align-items: center;
}

.number-card {
  height: 20em;
  padding: 5px;
}

p {
  font-size: 10em;
}
