* {
  margin: auto;
}

.row {
  padding: 10px 0px;
}

.col {
  text-align: center;
}

.vertical-center {
  min-height: 95vh;
  display: flex;
  align-items: center;
}

#welcome-screen {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 20px;
}

.modal-backdrop {
    opacity: 1 !important;
}

.homepage-buttons {
  font-size: 2em;
  color: white !important;
}

.jumbotron {
  background-color: white;
}

.number-card {
  height: 12em;
  padding: 5px;
}

p {
  font-size: 8em;
}

#report-screen {
  display: none;
}

#current-level {
  font-size: 2.5em;
}

.game-icon {
  padding: 5px;
  font-size: 2.5em;
  cursor: pointer;
}

#icon-container {
  text-align: right;
}

#settings-icon, #restart-icon, #exit-icon {
  transition: 0.9s;
}

#settings-icon:hover, #restart-icon:hover, #exit-icon:hover {
  color: black !important;
  transition: 0.9s;
  transform: rotate(180deg);
}

#next-button {
  font-size: 2em;
  display: none;
}

#timer {
  font-size: 6em;
}
