* {
  margin: auto;
  /* background-color: white; */
}

.row {
  /* border: 1px solid red; */
  padding: 10px 0px;
}

.col {
  /* border: 1px solid blue; */
  text-align: center;
}

.vertical-center {
  /* min-height: 100%; */
  min-height: 95vh;
  display: flex;
  align-items: center;
}

#welcome-screen {
  border: 2px solid blue;
  border-radius: 20px;
  padding: 20px;
}

#start-button {
  font-size: 2em;
}

.jumbotron {
  background-color: white;
}

.number-card {
  height: 20em;
  padding: 5px;
}

p {
  font-size: 10em;
}

#current-level {
  font-size: 2.5em;
}

.game-icon {
  /* border: 1px solid red; */
  padding: 5px;
  font-size: 2.5em;
  cursor: pointer;
}

#icon-container {
  /* border: 1px solid green; */
  text-align: right;
}

#restart-icon, #exit-icon {
  transition: 0.9s;
}

#restart-icon:hover, #exit-icon:hover {
  color: black !important;
  transition: 0.9s;
  transform: rotate(180deg);
}

#next-button {
  font-size: 2em;
  display: none;
}

#timer {
  font-size: 6em;
}
